p, h1, h2, h3, h4, h5, h6, a, ul, ol, li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: hsl(110, 100%, 59%);
  text-shadow: 0px 0px 6px 3px hsl(110, 100%, 59%);
  margin: 0;
}

.glitchText, h1, h2, h3 {
  animation: textShadow 1.6s infinite;
}

#background {
  height: 100vh;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt {
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193px 0 1px rgba(0, 30, 255, 0.5), -0.4389924193px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974011px 0 1px rgba(0, 30, 255, 0.5), -2.7928974011px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.0295627584px 0 1px rgba(0, 30, 255, 0.5), -0.0295627584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.4021853855px 0 1px rgba(0, 30, 255, 0.5), -0.4021853855px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.47940379px 0 1px rgba(0, 30, 255, 0.5), -3.47940379px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401px 0 1px rgba(0, 30, 255, 0.5), -1.6125630401px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085px 0 1px rgba(0, 30, 255, 0.5), -0.7015590085px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.8969140477px 0 1px rgba(0, 30, 255, 0.5), -3.8969140477px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.8709056148px 0 1px rgba(0, 30, 255, 0.5), -3.8709056148px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.2310569634px 0 1px rgba(0, 30, 255, 0.5), -2.2310569634px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.0808429042px 0 1px rgba(0, 30, 255, 0.5), -0.0808429042px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067px 0 1px rgba(0, 30, 255, 0.5), -2.3758461067px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.2021930511px 0 1px rgba(0, 30, 255, 0.5), -2.2021930511px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780615px 0 1px rgba(0, 30, 255, 0.5), -2.8638780615px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.4887402516px 0 1px rgba(0, 30, 255, 0.5), -0.4887402516px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491306px 0 1px rgba(0, 30, 255, 0.5), -1.8948491306px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308px 0 1px rgba(0, 30, 255, 0.5), -0.0833037308px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.0976982726px 0 1px rgba(0, 30, 255, 0.5), -0.0976982726px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.4433397615px 0 1px rgba(0, 30, 255, 0.5), -3.4433397615px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838853px 0 1px rgba(0, 30, 255, 0.5), -2.1841838853px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764474px 0 1px rgba(0, 30, 255, 0.5), -2.6208764474px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}
@keyframes textShadowBig {
  0% {
    text-shadow: 0.4389924193px 10px 1px rgba(0, 30, 255, 0.5), -0.8709056148px 15px 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 0.47940379px 5px 1px rgba(0, 30, 255, 0.5), -0.47940379px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: -0.8709056148px 15px 1px rgba(0, 30, 255, 0.5), 0.0808429042px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 0.2310569634px 10px 1px rgba(0, 30, 255, 0.5), -0.2310569634px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.0808429042px -5px 1px rgba(0, 30, 255, 0.5), 0.0808429042px -5px 1px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.4887402516px 0 1px rgba(0, 30, 255, 0.5), -0.4887402516px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: -0.8948491306px 0 1px rgba(0, 30, 255, 0.5), -0.8948491306px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: -0.4433397615px 10 1px rgba(0, 30, 255, 0.5), 0.4433397615px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 0.1841838853px 0 1px rgba(0, 30, 255, 0.5), -0.1841838853px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 0.6208764474px -10 1px rgba(0, 30, 255, 0.5), -0.6208764474px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}
a[href]:hover:not(.noGlitch) {
  animation: textShadowBig 0.2s infinite;
}

.clickable {
  cursor: pointer;
}

.cardBox {
  border: 3px solid hsl(110, 100%, 59%);
  background-color: hsl(110, 100%, 8%);
  padding: 0.5em;
}

.outerMargin {
  margin: 1em;
}

.glow {
  box-shadow: 0px 0px 9px 0px hsl(110, 100%, 59%);
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.newlineOnEnter {
  white-space: pre-line;
}

.largerPText {
  font-size: 1.1rem;
}

.newlineOnEnter > img {
  width: 80%;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-align {
  display: flex;
  flex-direction: column;
}

.roundedBorders {
  border-radius: 10px;
}

body {
  background-color: black;
}

#mainBlogBody {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 80%;
}

#blogSideBarLeft {
  width: 8%;
}

#blogBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#topRow {
  margin: 0;
  display: flex;
  flex-direction: row;
}

#blogHeaderTitle {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#blogCardBody {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

#blogCardTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#blogText {
  padding: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.blogImg {
  width: 60%;
  margin-top: 3em;
}

#body {
  display: flex;
  justify-content: center;
}

#sideBarLeft {
  width: 15%;
}

#sideBarRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

#mainBody {
  margin-bottom: 0%;
  width: 70%;
}

#welcomeCard {
  width: 50%;
}

#infoCard {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.gifDrawerImages {
  height: 100%;
  width: 60%;
  min-width: 40%;
  margin: 0.5em;
}

#gifDrawer1 {
  height: 20em;
  padding: 0.5em;
}

#gifDrawer2 {
  height: 85%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

footer {
  padding-top: 1em;
}

/*# sourceMappingURL=style.css.map */
