
$bg-color: black;
$c-hue: 50;
$font-color: hsl($c-hue, 100%, 59%);
$card-color: hsl($c-hue, 100%, 8%);
$border-style:  3px solid $font-color;

p, h1, h2, h3, h4, h5, h6, a, ul, ol, li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $font-color;
    text-shadow: 0px 0px 6px 3px $font-color;;
    margin: 0;
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.clickable{
    cursor: pointer;
}

.cardBox{
    border: $border-style;
    background-color: $card-color;
    padding: 0.5em;
    
}
.outerMargin{
    margin: 1em;
}
.glow{
    box-shadow: 0px 0px 9px 0px $font-color;
}
.roundedBorders{
    border-radius: 10px; 
}
body{
    background-color: black;
}
#body{
    display: flex;
    justify-content: center;
}
#sideBarLeft{
    width: 15%;
}
#blogSideBarLeft{
    width: 8%;
}
#blogHeaderTitle{
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
#blogCardBody{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}
#blogCardTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sideBarRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}
#mainBody{
    margin-bottom: 0%;
    width: 70%;
}
#blogBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#mainBlogBody{
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    width: 60%;
}
#welcomeCard{
    width: 50%;
}
#infoCard{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}
.gifDrawerImages{
    height: 100%;
    width: 60%;
    min-width: 40%;
    margin: 0.5em;
}
#gifDrawer1{
    height: 20em;
    padding: 0.5em;
}
#gifDrawer2{
    height: 85%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
footer{
    padding-top: 1em;  
}