
$bg-color: black;
$c-hue: 100;
$font-color: hsl($c-hue, 100%, 59%);
$card-color: hsl($c-hue, 100%, 8%);
$border-style:  3px solid $font-color;

p, h1, h2, h3, h4, h5, h6, a, ul, ol{
    color: $font-color;
    margin: 0;
}

::-webkit-scrollbar {
    width: .5em;
}
  
::-webkit-scrollbar-track {
    background: $card-color;
}

::-webkit-scrollbar-thumb {
    background: hsl($c-hue, 100%, 3%);
}

body{
    background-color: black;
}
#welcomeCard, #infoCard, #gifDrawer1, footer{
    border: $border-style;
    background-color: $card-color;
    margin: 1em;
    padding: 0.5em;
}
#mainBody{
    justify-content: center;
    margin: auto;
    margin-bottom: 0%;
    width: 70%;

}
#welcomeCard{
    width: 50%;
}
#infoCard{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}
.gifDrawerImages{
    height: 100%;
    width: 60%;
    min-width: 40%;
    margin: 0.5em;
}
#gifDrawer1{
    height: 20em;
    padding: 0.5em;
}
#gifDrawer2{
    height: 85%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
footer{
    padding-top: 1em;  
}