#mainBody, footer {
  justify-content: center;
  margin: auto;
  margin-bottom: 0%;
  background-color: cadetblue;
  width: 70%; }

p, h1, h2 {
  margin: 0; }

.gifDrawerImages {
  width: 60%;
  min-width: 50%; }

#gifDrawer {
  height: 20em;
  display: flex;
  overflow-x: auto;
  border: .5em solid gray; }

footer {
  padding-top: 1em; }
