
$bg-color: black;
$c-hue: 50;
$font-color: hsl($c-hue, 100%, 59%);
$card-color: hsl($c-hue, 100%, 8%);
$border-style:  3px solid $font-color;

p, h1, h2, h3, h4, h5, h6, a, ul, ol{
    color: $font-color;
    text-shadow: 0px 0px 6px 3px $font-color;;
    margin: 0;
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}
#ball{
    position:absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl($c-hue, 100%, 80%);
    box-shadow:
    0 0 60px 30px $card-color, 
    0 0 100px 60px $font-color, 
    0 0 140px 40px $font-color; 
}

body{
    background-color: black;
}
.cardBox{
    border: $border-style;
    background-color: $card-color;
    margin: 1em;
    padding: 0.5em;
    box-shadow: 0px 0px 10px 0px $font-color;
}
#mainBody{
    justify-content: center;
    margin: auto;
    margin-bottom: 0%;
    width: 70%;

}
#welcomeCard{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#infoCard{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}
.gifDrawerImages{
    height: 100%;
    width: 60%;
    min-width: 40%;
    margin: 0.5em;
}
#gifDrawer1{
    height: 20em;
    padding: 0.5em;
}
#gifDrawer2{
    height: 85%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
footer{
    padding-top: 1em;  
}